<template>
  <dir style="padding:0px">
    <a id="text">จัดการสถานประกอบการ</a>
    <b-button
      pill
      variant="success"
      class="float-right"
      @click="addNewCompany()"
      >เพิ่มข้อมูล</b-button
    ><br /><br />
    <b-table v-if="this.companyList.length !== 0" striped :items="companyList" :fields="fields">
      <template v-slot:cell(จัดการ)="data">
        <router-link to="/companies/student">
          <b-button
            pill
            @click="showListName(data.item)"
            variant="outline-primary"
            >รายชื่อ</b-button
          >
        </router-link>
        &nbsp;
        <b-button pill @click="showCompany(data.item)" variant="info"
          >รายละเอียด</b-button
        >
        &nbsp;
        <b-button pill @click="editCompany(data.item)" variant="warning"
          >แก้ไข</b-button
        >
        &nbsp;
        <b-button pill @click="delCompany(data.item)" variant="danger"
          >ลบ</b-button
        >
      </template>
    </b-table>
    <center v-else><a>ไม่มีข้อมูล</a></center>
    <b-modal
      size="lg"
      id="modal-form-company"
      ref="modal-form-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อ"
          label-for="name"
          id="text_name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="เบอร์โทรศัพท์"
          label-for="phone"
          id="text_phone"
          :invalid-feedback="invalidFeedbackPhone"
          :valid-feedback="validFeedbackPhone"
          :state="statePhone"
        >
          <b-form-input id="phone" v-model="form.phone" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="อีเมล"
          label-for="email"
          id="text_email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input id="email" v-model="form.email" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="ที่อยู่"
          label-for="address"
          id="text_address"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-textarea
            id="address"
            v-model="form.address"
            required
          ></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>
    <b-modal
      size="lg"
      id="modal-show-company"
      ref="modal-show-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="ชื่อ" label-for="name">
          <b-form-input id="name" v-model="form.name" disabled></b-form-input>
        </b-form-group>
        <b-form-group label="เบอร์โทรศัพท์" label-for="phone">
          <b-form-input id="phone" v-model="form.phone" disabled></b-form-input>
        </b-form-group>
        <b-form-group label="อีเมล" label-for="email">
          <b-form-input id="email" v-model="form.email" disabled></b-form-input>
        </b-form-group>
        <b-form-group label="ที่อยู่" label-for="address">
          <b-form-textarea
            id="address"
            v-model="form.address"
            disabled
          ></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>
  </dir>
</template>
<script>
import companyService from './CompanyService'
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูลใหม่',
      form: {
        _id: '',
        name: '',
        phone: '',
        email: '',
        address: ''
      },
      companyList: [],
      fields: [
        { key: 'index', label: '#' },
        { key: 'name', label: 'ชื่อ' },
        /* { key: 'phone', label: 'เบอร์โทรศัพท์' },
        { key: 'address', label: 'ที่อยู่' },
        { key: 'type', label: 'ชนิด' }, */
        'จัดการ'
      ],
      // eslint-disable-next-line no-useless-escape
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
    }
  },
  methods: {
    addNewCompany () {
      this.$bvModal.show('modal-form-company')
    },
    showCompany (company) {
      this.title = 'รายละเอียด'
      this.form = { ...company }
      this.$bvModal.show('modal-show-company')
    },
    editCompany (company) {
      this.title = 'แก้ไข'
      this.form = { ...company }
      this.$bvModal.show('modal-form-company')
    },
    showListName (company) {
      companyService.selectCompany = company.name
    },
    delCompany (company) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบ ' + company.name + '  หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            // companyService.deleteCompany(company)
            axios
              .delete('http://localhost:3000/companies/' + company._id)
              .then(res => {
                console.log(res)
                this.getCompanies()
              })
          }
        })
    },
    isEmailValid (email) {
      if (email === null || email === '') {
        return false
      } else if (!this.reg.test(email)) {
        return false
      } else {
        return true
      }
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        phone: '',
        email: '',
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.title === 'รายละเอียด') {
        this.$nextTick(() => {
          this.$bvModal.hide('modal-show-company')
        })
      }
      // check Validate
      if (
        this.stateName === false ||
        this.statePhone === false ||
        this.stateEmail === false ||
        this.stateAddress === false
      ) {
        return
      }
      // Do when pass validation
      console.log('hello' + this.form._id)
      if (this.form._id !== '') {
        // this.updateCompany(this.form)
        // companyService.updateCompany(this.form)
        axios
          .put('http://localhost:3000/companies', this.form)
          .then(res => {
            console.log(res)
            this.getCompanies()
          })
          .catch(err => {
            console.log(err)
          })
        this.getCompanies()
      } else {
        // this.addCompany(this.form)
        // companyService.addCompany(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/companies', this.form)
          .then(res => {
            console.log(res)
            this.getCompanies()
          })
          .catch(err => {
            console.log(err)
          })
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },
    getCompanies () {
      // this.companyList = companyService.getCompanies()
      axios
        .get('http://localhost:3000/companies')
        .then(res => {
          this.companyList = []
          for (let i = 0, j = 0; i < res.data.length; i++) {
            j++
            res.data[i].index = j
            this.companyList.push(res.data[i])
          }
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? '' : ''
    },
    statePhone () {
      return this.form.phone.length === 10
    },
    invalidFeedbackPhone () {
      if (this.form.phone.length === 10) {
        return ''
      } else if (this.form.phone.length > 0) {
        return 'เบอร์โทรต้องมีขนาด 10 ตัวอักษร'
      } else {
        return 'กรุณาใส่เบอร์โทร'
      }
    },
    validFeedbackPhone () {
      return this.statePhone === true ? '' : ''
    },
    stateEmail () {
      return this.isEmailValid(this.form.email) === true
    },
    invalidFeedbackEmail () {
      if (this.isEmailValid(this.form.email) === true) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'กรุณาใส่อีเมลที่ถูกต้อง'
      } else {
        return 'กรุณาใส่อีเมล'
      }
    },
    validFeedbackEmail () {
      return this.stateEmail === true ? '' : ''
    },
    stateAddress () {
      return this.form.address.length > 0
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return ''
      } else {
        return 'กรุณาใส่ที่อยู่'
      }
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? '' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getCompanies()
  }
}
</script>

<style scoped>
#text {
  position: absolute;
  top: 30px;
  color: gray;
}
</style>
