<template>
  <div>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewEducate"
      style="margin:10px"
      >เพิ่มประกาศ</b-button
    >
    <b-form-select
      v-model="selected"
      :options="showType"
      size="sm"
      class="mt-3"
      style="width:200px"
      @change="getUsers()"
    ></b-form-select>
    <b-modal
      id="modal-form-educate"
      ref="modal-form-educate"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อบริษัท"
          label-for="name"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-select
            id="name"
            v-model="form.name"
            value-field="_id"
            text-field="name"
            :options="companyList"
            :state="stateName"
          >
            <template v-slot:first>
              <b-form-select-option :value="null" disabled
                >กรุณาเลือกบริษัท</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-group
          label="วันที่ปิดรับสมัคร"
          label-for="date"
          :valid-feedback="invalidFeedbackDate"
          :invalid-feedback="invalidFeedbackDate"
        >
          <b-form-datepicker
            id="date"
            v-model="form.date"
            class="mb-2"
            required
            :min="min"
            placeholder="วันที่ปิดรับ"
            :state="stateDate"
          ></b-form-datepicker>
        </b-form-group>
        <b-form-group
          label="จำนวนที่เปิดรับ"
          label-for="date"
          :valid-feedback="validFeedbackMaxsize"
          :invalid-feedback="invalidFeedbackMaxsize"
          style="width:50%"
          ><b-form-input
            id="maxsize"
            v-model="form.maxsize"
            type="number"
            required
            placeholder="จำนวนคน"
            :state="stateMaxsize"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="รายละเอียด"
          label-for="detail"
          :invalid-feedback="invalidFeedbackDetail"
          :valid-feedback="validFeedbackDetail"
        >
          <b-form-textarea
            id="detail"
            v-model="form.detail"
            required
            :state="stateDetail"
          >
            {{ form }}
          </b-form-textarea>
        </b-form-group>
        <b-form-group
          label="ประเภทการอบรม"
          label-for="type"
          :valid-feedback="validFeedbackType"
          :invalid-feedback="validFeedbackType"
        >
          <b-form-select
            id="type"
            v-model="form.type"
            value-field="value"
            text-field="text"
            :options="showType"
            :state="stateType"
            ><template v-slot:first>
              <b-form-select-option :value="''" disabled
                >กรุณาเลือกประเภท</b-form-select-option
              >
            </template></b-form-select
          >
        </b-form-group>
      </form>
    </b-modal>

    <b-modal id="modalViewDetail" title="รายละเอียดการประกาศ" ok-only size="lg">
      <pre class="m-0">{{ form.detail }}</pre>
    </b-modal>
    <b-table
      striped
      hover
      :items="educateList"
      :fields="fields"
      caption-top
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      responsive="sm"
      v-if="this.educateList.length !== 0"
    >
      <template v-slot:cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template v-slot:table-caption>ประกาศการอบรม</template>
      <template v-slot:cell(optional)="educate">
        <!-- nameList(educate.item) -->
        <b-button
          variant="outline-primary"
          @click="showNameList(educate.item)"
          pill
          >รายชื่อ</b-button
        >
        &nbsp;
        <b-button variant="info" @click="viewDetail(educate.item)" pill
          >รายละเอียด</b-button
        >
        &nbsp;
        <b-button variant="warning" @click="editEducate(educate.item)" pill
          >แก้ไข</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="delEducate(educate.item)" pill
          >ลบ</b-button
        >
      </template>
    </b-table>
    <center v-else><a>ไม่มีข้อมูล</a></center>
  </div>
</template>

<script>
import axios from 'axios'
import { BFormDatepicker } from 'bootstrap-vue'
import Vue from 'vue'
Vue.component('b-form-datepicker', BFormDatepicker)
export default {
  data () {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    today.setUTCHours(0)
    today.setDate(today.getDate() + 1)
    const minDate = new Date(today)
    const lastWeek = new Date(today.getTime() - 7 * 24 * 60 * 60 * 1000)
    return {
      title: 'เพิ่มประกาศรับนิสิตสหกิจศึกษา',
      sortBy: 'date',
      sortDesc: false,
      currentdate: lastWeek,
      min: minDate,
      selected: '1',
      selectedEducateId: '',
      dataCompany: [],
      showType: [
        { value: '1', text: 'เตรียมความพร้อม' },
        { value: '2', text: 'วิชาการ' }
      ],
      form: {
        _id: '',
        name: null,
        date: '',
        maxsize: '',
        address: '',
        detail: '',
        lists: [],
        type: ''
      },
      companyList: [],
      educateList: [],
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'date', label: 'วันที่ปิดรับ' },
        { key: 'address', label: 'ที่อยู่' },
        { key: 'optional', label: 'ดำเนินการ' }
      ]
    }
  },
  methods: {
    addNewEducate () {
      this.title = 'เพิ่มการประกาศ'
      this.$bvModal.show('modal-form-educate')
    },
    viewDetail (educate) {
      this.form = educate
      this.$bvModal.show('modalViewDetail')
    },
    editEducate (educate) {
      this.title = 'แก้ไขการประกาศ'
      this.form = { ...educate }
      this.getCompanyData(this.form.name)
      this.form.date = new Date(this.form.date)
      this.$bvModal.show('modal-form-educate')
    },
    showNameList (educate) {
      this.selectedEducateId = educate._id
      this.$router.push({
        path: '/listEducate/' + this.selectedEducateId
      })
    },
    delEducate (educate) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ยืนยันที่จะลบ ' + educate.name + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/educates/' + educate._id)
              .then(res => {
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: null,
        date: '',
        maxsize: '',
        address: '',
        detail: '',
        lists: [],
        type: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    async handleSubmit () {
      // Check validate
      if (
        this.stateName === false ||
        this.stateDate === false ||
        this.stateMaxsize === false ||
        this.stateDetail === false ||
        this.stateType === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        await this.getCompany(this.form.name)
        axios
          .put('http://localhost:3000/educates/', this.form)
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        await this.getCompany(this.form.name)
        delete this.form._id
        axios
          .post('http://localhost:3000/educates/', this.form)
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-educate')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/educates/')
        .then(res => {
          // console.log(this.currentdate.toISOString())
          this.educateList = []
          res.data.forEach(data => {
            if (
              data.date >= this.currentdate.toISOString() &&
              data.type === this.selected
            ) {
              this.educateList.push(data)
              // console.log(new Date(data.date))
            }
          })
          // console.log(res.data)
          // this.educateList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    async getCompany (_id) {
      await axios
        .get('http://localhost:3000/companies/' + _id)
        .then(res => {
          this.dataCompany = res.data
          this.form.name = this.dataCompany.name
          this.form.address = this.dataCompany.address
        })
        .catch(err => {
          console.log(err)
        })
    },
    getCompanies () {
      axios
        .get('http://localhost:3000/companies/')
        .then(res => {
          this.companyList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getEducateId () {
      return this.selectedEducateId
    },
    async getCompanyData (name) {
      await axios
        .get('http://localhost:3000/companies/')
        .then(res => {
          res.data.forEach(company => {
            if (company.name === name) {
              this.form.name = company._id
            }
          })
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getUsers()
    this.getCompanies()
  },
  computed: {
    // testing value
    stateName () {
      return this.form.name !== null
    },
    validFeedbackName () {
      return this.stateName === true ? '' : 'กรุณาเลือกบริษัท'
    },
    stateDate () {
      return this.form.date !== ''
    },
    invalidFeedbackDate () {
      if (this.form.date !== '') {
        return ''
      } else {
        return 'กรุณาระบุวันที่'
      }
    },
    validFeedbackDate () {
      return this.stateDate === true ? '' : ''
    },
    stateMaxsize () {
      return this.form.maxsize >= 30
    },
    invalidFeedbackMaxsize () {
      if (this.form.maxsize < 30) {
        return 'จำนวนต้องมากกว่าหรือเท่ากับ 30 คน'
      } else {
        return ''
      }
    },
    validFeedbackMaxsize () {
      return this.stateMaxsize === true ? '' : ''
    },
    stateDetail () {
      return this.form.detail.length >= 6
    },
    invalidFeedbackDetail () {
      if (this.form.detail.length < 6) {
        return 'ข้อความจำเป็นต้องมากกว่า 6 ตัวอักษร'
      } else {
        return 'กรุณาระบุรายละเอียด'
      }
    },
    validFeedbackDetail () {
      return this.stateDetail === true ? '' : ''
    },
    stateType () {
      return this.form.type !== ''
    },
    validFeedbackType () {
      return this.stateType === true ? '' : 'กรุณาเลือกประเภท'
    }
  }
}
</script>
