<template>
  <div class="container">
    <div style=" width:60%;padding: 35px;">
      <fieldset>
        <b-form @submit="checkForm">
          <div style="font-size:200%;">Login</div>
          <br />
          <b-form-group
            id="input-group-1"
            label="Username:"
            label-for="input-1"
          >
            <b-form-input
              id="input-1"
              placeholder="Enter username"
              required
              v-model="form.username"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="Password:"
            label-for="input-2"
          >
            <b-form-input
              id="input-2"
              type="password"
              placeholder="Enter password"
              required
              v-model="form.password"
            >
            </b-form-input>
          </b-form-group>
          <!-- <b-button type="submit" variant="primary">Submit</b-button> -->
          <b-button @click="login(form)" variant="primary">Submit</b-button>
        </b-form>
      </fieldset>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      errors: [],
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    login (form) {
      axios.get('https://localhost:3000/student' + form.username).then(res => {
        if (res.data !== undefined) {
          if (res.data.password === form.password) {
            this.checkType(res.data.type)
          }
        }
      })
    },
    checkType (item) {
      if (item === 'student') {
        this.$router.push({
          path: '/mainStudent/'
        })
      } else {
        this.$router.push({
          path: '/mainAdmin/'
        })
      }
    }
  },
  computed: {
    getData: function () {
      return this.form
    }
  }
}
</script>
