<style>
#carousel-1 {
  width: 1160px;
  height: 350px;
}
#img1 {
  position: absolute;
  top: 400px;
  left: 850px;
}
</style>
<template>
  <div>
    <br>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="300"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        id="carousel-1"
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        img-src="http://reg.buu.ac.th/document/enroll623.png"
        img-width="1160"
        img-height="350"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide
        id="carousel-1"
        img-src="https://reg.buu.ac.th/document/paynana622.png"
        img-width="1160"
        img-height="350"
      >
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide
        id="carousel-1"
        img-src="https://reg.buu.ac.th/document/card5.png"
        img-width="1160"
        img-height="350"
      ></b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template v-slot:img>
          <img
            id="carousel-1"
            class="d-block img-fluid w-100"
            width="1024"
            height="300"
            src="http://reg.buu.ac.th/document/pamern622.png"
            alt="image slot"
            img-width="1160"
            img-height="350"
          />
        </template>
      </b-carousel-slide>
    </b-carousel>
    <br /><br />
    <h6 style="color: blue;">
      ประกาศ !!
    </h6>
    <a>
      &nbsp; &nbsp;นิสิตระดับปริญญาตรี คณะคณะการจัดการและการท่องเที่ยว
      ที่สำเร็จการศึกษา <br />
      &nbsp; &nbsp;วันที่ 2 ธ.ค. 2562
      (ยกเว้นสาขาการจัดการการโรงแรมและการท่องเที่ยว)<br />
      &nbsp; &nbsp;รับเอกสารได้วันที่ 5 ก.พ. 2563 เป็นต้นไป<br />
      &nbsp;
      &nbsp;**สำหรับสาขาการจัดการการโรงแรมและการท่องเที่ยวจะแจ้งวันรับเอกสารสำเร็จการศึกษาให้ทราบอีกครั้ง<br />
      &nbsp; &nbsp;วิทยาลัยนานาชาติ ที่สำเร็จการศึกษา วันที่ 13 ธ.ค. 2562
      รับเอกสารได้วันที่<br />
      &nbsp; &nbsp;23 ม.ค. 2563 เป็นต้นไป คลิกเพื่อ
      ตรวจสอบวันที่สำเร็จการศึกษา<br />
      &nbsp; &nbsp;**โดยนำบัตรนิสิตมารับ หากบัตรนิสิตหายให้ใช้บัตรประชาชนมารับ
      (นำรูปชุดครุย<br />
      &nbsp; &nbsp;2 นิ้วมาด้วย 1 รูป เพื่อป้องกันกรณีรูปสูญหาย)<br />
      &nbsp; &nbsp;อกรณีมารับเอกสารแทนต้องใช้เอกสารดังนี้
      1.สำเนาบัตรประชาชนของเจ้าของเอกสาร<br />
      &nbsp; &nbsp;2.บัตรนิสิตตัวจริงของเจ้าของเอกสาร
      3.สำเนาบัตรประชาชนผู้รับแทน<br />
      &nbsp; &nbsp;**การรับเอกสารเฉพาะวันจันทร์ พุธ ศุกร์ เปิดบริการถึง 20.30 น.
      ส่วนวันอื่นๆ<br />
      &nbsp; &nbsp;ตามเวลาราชการ
    </a><br><br><br><br>
    <div>
      <b-card
        id="img1"
        title="Card Title"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-0"
      >
        <b-card-text>
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </b-card-text>
      </b-card>
    </div>
    <h6 style="color:red;">ประกาศรับสมัครอบรมนิสิต !!</h6><br>
    <a>บริษัท ไทยพานิช</a>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}
</script>
