<template>
  <div>
    <b-dropdown
      id="dropdown-1"
      text="เลือกประเภท"
      class="float-right"
      @click="select"
      style="margin:5px"
      variant="outline-primary"
    >
      <b-dropdown-item value="เตรียมความพร้อม">เตรียมความพร้อม</b-dropdown-item>
      <b-dropdown-item value="วิชาการ">วิชาการ</b-dropdown-item>
    </b-dropdown>
    <br />
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
    </b-modal>
    <b-table striped hover :items="usersList" :fields="fields"
      ><template v-slot:cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template v-slot:cell(optional)="data">
        <b-button variant="primary" @click="showDetail(data.item)"
          >รายละเอียด</b-button
        >
      </template>
    </b-table>
    <b-modal
      id="modalViewDetail"
      title="รายละเอียดการประกาศ"
      ok-only
      size="lg"
      :items="usersList"
    >
      <b-table striped hover :items="educateLists" :fields="fields2"
        ><template v-slot:cell(index)="data">
          {{ data.index + 1 }}
        </template>
      </b-table>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        gender: 'null'
      },
      showType: [
        { value: '1', text: 'เตรียมความพร้อม' },
        { value: '2', text: 'วิชาการ' }
      ],
      usersList: [],
      educateLists: [],
      lastId: 3,
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'type', label: 'ประเภท' },
        { key: 'optional', label: 'รายละเอียด' }
      ],
      fields2: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'keyId', label: 'รหัสนิสิต' },
        { key: 'lname', label: 'ชื่อ' }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    select () {
      console.log('Select Now')
      this.$bvModal.show('modal-form-user')
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    showDetail (item) {
      this.form = item
      this.showLists(item)
      this.$bvModal.show('modalViewDetail')
    },
    showLists (educates) {
      axios.get('http://localhost:3000/educates/' + educates._id).then(res => {
        res.data.lists.forEach(data => {
          if (data.status) {
            this.educateLists.push(data)
          }
        })
      })
    },
    showEducates () {
      axios.get('http://localhost:3000/educates/').then(res => {
        this.usersList = res.data
      })
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  type: {
    types: ''
  },
  mounted () {
    this.showEducates()
  }
}
</script>
