<template>
  <div>
    <br />
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
    </b-modal>
    <b-table striped hover :items="usersList" :fields="fields">
      <template v-slot:cell(type)="educate">
        <div v-if="educate.item.type === '1'">เตรียมความพร้อม</div>
        <div v-else>วิชาการ</div>
      </template>
      <template v-slot:cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template v-slot:cell(optional)="data">
        <b-button variant="primary" @click="showDetail(data.item)"
          >รายละเอียด</b-button
        >
      </template>
    </b-table>
    <b-modal
      id="modalViewDetail"
      title="รายละเอียดการประกาศ"
      ok-only
      size="lg"
      :items="usersList"
    >
      <pre class="m-0">{{ form.detail }}</pre>
    </b-modal>
    <!-- TEST GET BACKEND -->
    <!-- <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ test_detail }}</pre>
    </b-card> -->
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        detail: ''
      },
      // getStudents: [],
      // test_detail: {
      //   ชื่อบริษัท: '',
      //   รายละเอียด: ''
      // },
      genderOption: [
        { text: 'Select One', value: null },
        { value: 'หัวหน้าฝ่าย', text: 'หัวหน้าฝ่าย' },
        { value: 'รองหัวหน้าฝ่าย', text: 'รองหัวหน้าฝ่าย' },
        { value: 'พนักงาน', text: 'พนักงาน' }
      ],
      usersList: [],
      lastId: 3,
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'optional', label: 'รายละเอียด' }
      ]
    }
  },
  methods: {
    resetModal () {
      this.form = {
        detail: ''
      }
      // this.test_detail = {
      //   ชื่อบริษัท: -1,
      //   รายละเอียด: ''
      // }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    showDetail (item) {
      this.form = item
      this.$bvModal.show('modalViewDetail')
    },
    showCooperative () {
      axios
        .get('http://localhost:3000/cooperatives')
        .then(res => {
          this.usersList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    // showDetail (cooperatives) {
    //   axios
    //     .get('http://localhost:3000/cooperatives/' + cooperatives.ชื่อบริษัท)
    //     .then(res => {
    //       this.getStudents = res.data[0]
    //       res.data.forEach(data => {
    //         if (
    //           data.date >= this.currentdate.toISOString() &&
    //           data.type === this.selected
    //         ) {
    //           this.usersList.push(data)
    //           Date(data.date)
    //         }
    //       })
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     })
    // },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  type: {
    types: ''
  },
  mounted () {
    this.showCooperative()
  }
}
</script>
