<template>
  <div>
    <b-form-select
      v-model="selectedType"
      :options="showType"
      size="sm"
      class="mt-3"
      style="width:200px"
      @change="showEducates()"
    ></b-form-select>
    <br />
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
    </b-modal>
    <b-table striped hover :items="usersList" :fields="fields">
      <template v-slot:cell(type)="educate">
        <div v-if="educate.item.type === '1'">เตรียมความพร้อม</div>
        <div v-else>วิชาการ</div>
      </template>
      <template v-slot:cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template v-slot:cell(optional)="data">
        <b-button variant="primary" @click="showDetail(data.item)"
          >รายละเอียด</b-button
        >
      </template>
    </b-table>
    <b-modal
      id="modalViewDetail"
      title="รายละเอียดการประกาศ"
      ok-only
      size="lg"
      :items="usersList"
    >
      <pre class="m-0">{{ form.detail }}</pre>
    </b-modal>
    <!-- TEST GET BACKEND -->
    <!-- <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ test_detail }}</pre>
    </b-card> -->
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    today.setUTCHours(0)
    today.setDate(today.getDate() + 1)
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      currentdate: today,
      selectedType: '1',
      showType: [
        { value: '1', text: 'เตรียมความพร้อม' },
        { value: '2', text: 'วิชาการ' }
      ],
      form: {
        detail: ''
      },
      // getStudents: [],
      // test_detail: {
      //   ชื่อบริษัท: '',
      //   รายละเอียด: ''
      // },
      genderOption: [
        { text: 'Select One', value: null },
        { value: 'หัวหน้าฝ่าย', text: 'หัวหน้าฝ่าย' },
        { value: 'รองหัวหน้าฝ่าย', text: 'รองหัวหน้าฝ่าย' },
        { value: 'พนักงาน', text: 'พนักงาน' }
      ],
      usersList: [],
      lastId: 3,
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'type', label: 'ประเภท' },
        { key: 'optional', label: 'รายละเอียด' }
      ]
    }
  },
  methods: {
    resetModal () {
      this.form = {
        detail: ''
      }
      // this.test_detail = {
      //   ชื่อบริษัท: -1,
      //   รายละเอียด: ''
      // }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    showDetail (item) {
      this.form = item
      this.$bvModal.show('modalViewDetail')
    },
    showEducates () {
      axios
        .get('http://localhost:3000/educates')
        .then(res => {
          this.usersList = []
          res.data.forEach(lists => {
            if (
              lists.date >= this.currentdate.toISOString() &&
              lists.type === this.selectedType
            ) {
              this.usersList.push(lists)
            }
          })
        })
        .catch(err => {
          console.log(err)
        })
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  type: {
    types: ''
  },
  mounted () {
    this.showEducates()
  }
}
</script>
