<template>
  <div>
    <b-table striped hover :items="documentList" :fields="fields">
      <template v-slot:cell(_)="data">
        <a :href="data.item.ลิ้ง" target="_blank"
          ><b-button variant="info">ดาวน์โหลด</b-button>
        </a>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      linkimg: '',
      form: {
        เอกสารที่เกี่ยวข้อง: ''
      },

      documentList: [],
      lastId: 4,
      fields: ['ชื่อเอกสาร', '_']
    }
  },
  methods: {
    // showDoc () {},
    getDocs () {
      axios
        .get('http://127.0.0.1:3000/docs/')
        .then(res => {
          this.documentList = res.data
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    console.log('Vue')
    this.getDocs()
  }
}
</script>
