<template>
  <div>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
    </b-modal>
    <b-card-group deck id="tableMain1">
      <b-card header-tag="header" footer-tag="footer">
        <template v-slot:header>
          <h6 class="mb-0">ประกาศการอบรม</h6>
        </template>
        <div>
          <b-table striped hover :items="usersList" :fields="fields">
            <template v-slot:cell(type)="educate">
              <div v-if="educate.maxsize">เตรียมความพร้อม</div>
              <div v-else>วิชาการ</div>
            </template>
            <template v-slot:cell(index)="data">
              {{ data.index + 1 }}
            </template>
          </b-table>
        </div>
      </b-card>
    </b-card-group>
    <br><br>
    <b-card-group deck id="tableMain1">
      <b-card header-tag="header" footer-tag="footer">
        <template v-slot:header>
          <h6 class="mb-0">ประกาศสหกิจศึกษา</h6>
        </template>
        <div>
          <b-table striped hover :items="usersList1" :fields="field1s">
            <template v-slot:cell(type)="educate">
              <div v-if="educate.maxsize">เตรียมความพร้อม</div>
              <div v-else>วิชาการ</div>
            </template>
            <template v-slot:cell(index)="data">
              {{ data.index + 1 }}
            </template>
          </b-table>
        </div>
      </b-card>
    </b-card-group>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data () {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    today.setUTCHours(0)
    today.setDate(today.getDate() + 1)
    return {
      currentdate: today,
      selectedType: '1',
      form: {
        detail: ''
      },
      usersList: [],
      lastId: 3,
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'lists.length', label: 'จำนวนที่ลง' },
        { key: 'maxsize', label: 'จำนวนสูงสุด' },
        { key: 'date', label: 'วันหมดเวลาสมัคร' }
      ],
      usersList1: [],
      field1s: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'lists.length', label: 'จำนวนที่ลง' },
        { key: 'date', label: 'วันหมดเวลาสมัคร' }
      ]
    }
  },
  methods: {
    resetModal () {
      this.form = {
        detail: ''
      }
    },
    showEducates () {
      axios
        .get('http://localhost:3000/educates')
        .then(res => {
          this.usersList = []
          res.data.forEach(lists => {
            if (
              lists.date >= this.currentdate.toISOString() &&
              lists.type === this.selectedType
            ) {
              this.usersList.push(lists)
            }
          })
        })
        .catch(err => {
          console.log(err)
        })
    },
    showCooperative () {
      axios
        .get('http://localhost:3000/cooperatives')
        .then(res => {
          this.usersList1 = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.showEducates()
    this.showCooperative()
  }
}
</script>
