<template>
  <div>
    <router-link to="/manageEducate">
      <b-button pill class="float-left" style="margin:10px">กลับ</b-button>
    </router-link>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewList()"
      style="margin:10px"
      >เพิ่มผู้อบรม</b-button
    >
    <b-modal
      id="modal-form-list"
      ref="modal-form-list"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <b-form-group
        label="รหัสนิสิต"
        label-for="keyId"
        :valid-feedback="validFeedbackKeyId"
        :invalid-feedback="invalidFeedbackKeyId"
      >
        <b-form-input
          id="keyId"
          v-model="form.keyId"
          required
          :state="stateKeyId"
        ></b-form-input>
      </b-form-group>
    </b-modal>
    <b-table striped hover :items="List" :fields="fields" caption-top>
      <template v-slot:table-caption style="position:absolute"
        >รายชื่อนิสิตที่สมัครเข้าร่วมอบรม</template
      >
      <template v-slot:cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template v-slot:cell(optional)="list">
        <b-button variant="warning" @click="editList(list.item)" pill
          >แก้ไข</b-button
        >&nbsp;
        <b-button variant="danger" @click="delList(list.item)" pill
          >ลบ</b-button
        >
      </template>
      <template v-slot:cell(status)="list">
        <b-form-checkbox
          v-if="list.item.status == true"
          switch
          size="lg"
          name="check-button"
          v-model="list.item.status"
          style="position:absolute"
          @change="updateList(list.item)"
          >อนุมัติ
        </b-form-checkbox>
        <b-form-checkbox
          v-else
          switch
          size="lg"
          name="check-button"
          v-model="list.item.status"
          style="position:absolute"
          @change="updateList(list.item)"
          >ไม่อนุมัติ
        </b-form-checkbox>
      </template>
      <template v-slot:cell(checked)="list">
        <b-form-checkbox
          v-if="list.item.checked == true"
          switch
          size="lg"
          name="check-button"
          v-model="list.item.checked"
          style="position:absolute"
          @change="updateList(list.item)"
          >อนุมัติ
        </b-form-checkbox>
        <b-form-checkbox
          v-else
          switch
          size="lg"
          name="check-button"
          v-model="list.item.checked"
          style="position:absolute"
          @change="updateList(list.item)"
          >ไม่อนุมัติ
        </b-form-checkbox>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      title: 'เพิ่มผู้อบรม',
      educateId: '',
      maxsize: 0,
      form: {
        _id: '',
        keyId: '',
        lname: '',
        status: true,
        checked: true
      },
      List: [],
      lastId: 3,
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'keyId', label: 'รหัสนิสิต' },
        { key: 'lname', label: 'ชื่อ-นามสกุล' },
        { key: 'optional', label: 'ดำเนินการ' },
        { key: 'status', label: 'การอนุมัติ' },
        { key: 'checked', label: 'การเช็คชื่อ' }
      ]
    }
  },
  methods: {
    addNewList () {
      this.title = 'เพิ่มผู้อบรม'
      this.$bvModal.show('modal-form-list')
    },
    editList (list) {
      this.title = 'แก้ไขผู้อบรม'
      this.form = { ...list }
      this.$bvModal.show('modal-form-list')
    },
    delList (list) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ยืนยันที่จะลบ ' + list.keyId + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/educates/list/' + this.educateId, {
                data: list
              })
              .then(res => {
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        keyId: '',
        lname: '',
        status: true,
        checked: true,
        optional: 'null'
      }
    },
    async handleOk (bvModalEvt) {
      // Prevent modal from closing
      if (!(await this.getName(this.form.keyId))) {
        this.$bvModal.msgBoxConfirm('ไม่พบ ' + this.form.keyId, {
          title: 'เกิดข้อผิดพลาด',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        return
      }
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (this.stateKeyId === false || this.stateName === false) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        axios
          .put(
            'http://localhost:3000/educates/list/' + this.educateId,
            this.form
          )
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        if (this.List.length >= this.maxsize) {
          this.form.status = false
        }
        delete this.form._id
        axios
          .post(
            'http://localhost:3000/educates/list/' + this.educateId,
            this.form
          )
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-list')
      })
    },
    async getName (studentId) {
      var find = true
      await axios
        .get('http://localhost:3000/student/' + studentId)
        .then(res => {
          this.form.lname = res.data[0].name
        })
        .catch(err => {
          console.log(err)
          find = false
        })
      return find
    },
    getUsers () {
      axios
        .get('http://localhost:3000/educates/' + this.educateId)
        .then(res => {
          this.maxsize = res.data.maxsize
          // console.log(res.data)
          this.List = res.data.lists
        })
        .catch(err => {
          console.log(err)
        })
    },
    getUser (keyId) {
      axios
        .get('http://localhost:3000/educates/' + this.educateId)
        .then(res => {
          this.maxsize = res.data.maxsize
          // console.log(res.data)
          this.List = res.data.lists
        })
        .catch(err => {
          console.log(err)
        })
    },
    getEducateId () {
      this.educateId = window.location.href.substring(34)
      this.form.educate = this.educateId
    },
    updateList (list) {
      axios
        .put('http://localhost:3000/educates/list/' + this.educateId, list)
        .then(res => {
          this.getUsers()
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  mounted () {
    this.getEducateId()
    this.getUsers()
  },
  computed: {
    stateKeyId () {
      return this.form.keyId.length === 8
    },
    invalidFeedbackKeyId () {
      if (this.form.keyId.length === 8) {
        return ''
      } else {
        return 'กรุณาระบุรหัสนิสิต'
      }
    },
    validFeedbackKeyId () {
      return this.stateKeyId === true ? '' : ''
    }
  }
}
</script>
