<template>
  <div>
    <b-table striped hover :items="userList" :fields="fields">
       <template v-slot:cell(course)="data">
        {{ data.item.codeCourse }}
      </template>
      <template v-slot:cell(course)="data">
        {{ data.item.course }}
      </template>
      <template v-slot:cell(status)="data">
        {{ data.item.status }}
      </template>
    </b-table>
    <label class="count">รายวิชาที่ผ่านทั้งหมด {{ count }} วิชา</label>
    <b-table striped hover :items="showGrade" :fields="fieldsGrades">
      <template v-slot:cell(gpax)="data">
        {{ data.item.gpax }}
      </template>
    </b-table>
    <label class="grades">เกรดเฉลี่ย {{ grades }} เกณฑ์</label>
  </div>
</template>

<script>
import axios from 'axios'
// import userService from './UserService'
export default {
  data () {
    return {
      grades: '',
      count: 0,
      title: 'ตรวจสอบรายวิชา',
      userList: [],
      fields: [
        { key: 'codeCourse', label: 'รหัสวิชา' },
        { key: 'course', label: 'ชื่อวิชา' },
        { key: 'status', label: 'ผ่านหรือไม่ผ่าน' }
      ],
      showGrade: [],
      fieldsGrades: ['gpax']
    }
  },
  methods: {
    getCourse () {
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/checkCourse')
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            if (res.data[i]._id === '5e89c374543c8a1598291bda') {
              for (let n = 0; n < res.data[i].course.length; n++) {
                this.userList.push(res.data[i].course[n])
              }
            }
          }
        })
        .catch(err => {
          console.log(err)
        })
    },
    getGpax () {
      axios
        .get('http://localhost:3000/checkCourse')
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            if (res.data[i]._id === '5e89c374543c8a1598291bda') {
              this.showGrade.push(res.data[i])
            }
          }
        })
    },
    showCountStatus () {
      // this.count = 0
      axios
        .get('http://localhost:3000/checkCourse')
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            if (res.data[i]._id === '5e89c374543c8a1598291bda') {
              for (let n = 0; n < res.data[i].course.length; n++) {
                if (res.data[i].course[n].status === 'true') {
                  this.count++
                }
              }
            }
          }
        })
    },
    checkGpax () {
      axios
        .get('http://localhost:3000/checkCourse')
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            if (res.data[i]._id === '5e89c374543c8a1598291bda') {
              if (res.data[i].gpax > 2.50) {
                this.grades = 'ผ่าน'
              } else if (res.data[i].gpax <= 2.50) {
                this.grades = 'ไม่ผ่าน'
              }
            }
          }
        })
    }
  },
  computed: {
  },
  mounted () {
    console.log('Vue componet is mounted.')
    this.getCourse()
    this.getGpax()
    this.showCountStatus()
    this.checkGpax()
  }
}
</script>
