<template>
  <div>
    <h4>ตารางแสดงข้อมูลอบรม</h4>
    <b-table striped hover :items="educateList" :fields="fields">
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      selected: null,
      educateList: [],
      fields: [
        { key: 'name', label: 'ชื่อกิจกรรม' },
        { key: 'hour', label: 'ชั่วโมง' },
        { key: 'type', label: 'ประเภท' }
      ]
    }
  },
  methods: {
    getEducate () {
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/checkEducateHours')
        .then(res => {
          for (let i = 0; i < res.data.length; i++) {
            if (res.data[i]._id === '5e89c374543c8a1598291bda') {
              for (let n = 0; n < res.data[i].educate.length; n++) {
                this.userList.push(res.data[i].educate[n])
              }
            }
          }
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
  },
  mounted () {
    console.log('Vue componet is mounted.')
    this.getEducate()
  }
}
</script>
