<style>
#text1 {
  position: absolute;
  left: -60px;
}
</style>
<template>
  <div>
    <br />
    <h5 id="text1">
      ติดต่อเรา <br> 169 ถนนลงหาดบางแสน ตำบลแสนสุข อำเภอเมือง จังหวัดชลบุรี 20131 <br>
      โทร. +66 (0)38-103061, +66 (0)38-103096 โทรสาร +66 (0)38 39 3245 <br>
      informatics@buu.ac.th
    </h5><br>
    </div>
</template>
