<template>
  <div>
    <b-form-select
      v-model="selected"
      :options="showType"
      size="sm"
      class="mt-3"
      style="width:200px"
    ></b-form-select>
    <b-modal
      id="modal-form-educate"
      ref="modal-form-educate"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group label="ชื่อบริษัท" label-for="name">
          <b-form-select
            id="name"
            v-model="form.name"
            value-field="_id"
            text-field="name"
            :options="companyList"
          >
            <template v-slot:first>
              <b-form-select-option :value="null" disabled
                >กรุณาเลือกบริษัท</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-form-group>
        <b-form-datepicker
          id="date"
          v-model="form.date"
          class="mb-2"
          required
          :min="min"
          placeholder="วันที่ปิดรับ"
        ></b-form-datepicker>
        <b-form-group label="รายละเอียด" label-for="detail">
          <b-form-textarea id="detail" v-model="form.detail" required>
            {{ form }}
          </b-form-textarea>
        </b-form-group>
        <b-form-group label="ประเภทการอบรม" label-for="type">
          <b-form-select
            id="type"
            v-model="form.type"
            value-field="value"
            text-field="text"
            :options="showType"
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal id="modalViewDetail" title="รายละเอียดการประกาศ" ok-only size="lg">
      <pre class="m-0">{{ form.detail }}</pre>
    </b-modal>

    <template>
      <b-table
        striped
        hover
        :items="educateList"
        :fields="fields"
        caption-top
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        responsive="sm"
      >
        <template v-slot:cell(index)="data">
          {{ data.index + 1 }}
        </template>
        <template v-slot:cell(type)="data">
          {{ data.item.type === '1' ? 'เตรียมความพร้อม' : 'วิชาการ' }}
        </template>
        <template v-slot:table-caption>ประกาศการอบรม</template>
        <template v-slot:cell(optional)="educate">
          <!-- nameList(educate.item) -->
          &nbsp;
          <b-button variant="info" @click="viewDetail(educate.item)" pill
            >รายละเอียด</b-button
          >
          &nbsp;
          <b-button variant="warning" @click="regisEducate(educate.item)" pill
            >สมัคร</b-button
          >
          &nbsp;
        </template>
      </b-table>
    </template>
  </div>
</template>

<script>
import axios from 'axios'
import { BFormDatepicker } from 'bootstrap-vue'
import Vue from 'vue'
Vue.component('b-form-datepicker', BFormDatepicker)
export default {
  data () {
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    const minDate = new Date(today)
    return {
      user: {
        keyId: '60160060',
        name: 'ทศพร รัตนสำรวจ',
        status: true
      },
      title: 'เพิ่มประกาศรับนิสิตสหกิจศึกษา',
      sortBy: 'date',
      sortDesc: false,
      min: minDate,
      selected: '1',
      selectedName: '',
      selectedEducateId: '',
      dataCompany: [],
      showType: [
        { value: '1', text: 'เตรียมความพร้อม' },
        { value: '2', text: 'วิชาการ' }
      ],
      form: {
        _id: '',
        name: 'null',
        date: '',
        address: '',
        detail: '',
        type: '1',
        students: []
      },
      companyList: [],
      educateList: [],
      fields: [
        { key: 'index', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อบริษัท' },
        { key: 'type', label: 'ประเภท' },
        { key: 'optional', label: 'ดำเนินการ' }
      ]
    }
  },
  methods: {
    regisEducate (data) {
      this.boxTwo = ''
      this.$bvModal.msgBoxConfirm(
        'ยืนยันที่จะสมัครการอบรมหรือไม่',
        {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        }
      )
      let educate = { ...this.user }
      educate.educate = data._id
      axios
        .post('http://localhost:3000/listeducates/', educate)
        .then(res => {
          this.getUsers()
        })
        .catch(err => {
          console.log(err)
        })
    },
    addNewEducate () {
      this.title = 'เพิ่มการประกาศ'
      this.$bvModal.show('modal-form-educate')
    },
    viewDetail (educate) {
      this.form = educate
      this.$bvModal.show('modalViewDetail')
    },
    editEducate (educate) {
      this.title = 'แก้ไขการประกาศ'
      this.form = { ...educate }
      this.$bvModal.show('modal-form-educate')
    },
    showNameList (educate) {
      this.selectedEducateId = educate._id
      this.$router.push({
        path: '/listEducate/' + this.selectedEducateId
      })
    },
    delEducate (educate) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ยืนยันที่จะลบ ' + educate.name + ' หรือไม่', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          axios
            .delete('http://localhost:3000/educates/' + educate._id)
            .then(res => {
              this.getUsers()
            })
            .catch(err => {
              console.log(err)
            })
        })
    },
    resetModal () {
      this.selectedName = ''
      this.form = {
        _id: '',
        name: 'null',
        date: '',
        address: '',
        detail: '',
        type: '1'
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    async handleSubmit () {
      // Check validate

      // Do when pass validation
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/educates/', this.form)
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        await this.getCompany(this.form.name)
        delete this.form._id
        axios
          .post('http://localhost:3000/educates/', this.form)
          .then(res => {
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-educate')
      })
    },
    getUsers () {
      axios
        .get('http://localhost:3000/educates/')
        .then(res => {
          this.educateList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    async getCompany (_id) {
      await axios
        .get('http://localhost:3000/companies/' + _id)
        .then(res => {
          this.dataCompany = res.data
          this.form.name = this.dataCompany.name
          this.form.address = this.dataCompany.address
        })
        .catch(err => {
          console.log(err)
        })
    },
    getCompanies () {
      axios
        .get('http://localhost:3000/companies/')
        .then(res => {
          this.companyList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    getEducateId () {
      return this.selectedEducateId
    }
  },
  mounted () {
    this.getUsers()
    this.getCompanies()
  }
}
</script>
